<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577320009049-psu9t1pl7r2dbis4gqj445u638625a2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577320009049-psu9t1pl7r2dbis4gqj445u638625a2d</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Xla_ntqUsdoBTufmAYIFwXT_-6zJ8pg</string>
	<key>GCM_SENDER_ID</key>
	<string>577320009049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventorymanagement</string>
	<key>PROJECT_ID</key>
	<string>inventory-b84c0</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-b84c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577320009049:ios:594e029b3c849a42e6e048</string>
</dict>
</plist>